* {
  padding: 0;
  margin: 0;
}
body {
  overflow-y: scroll;
}

.fullscreen{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.fullscreen main{
  flex-grow: 1;
}

 .fullscreen2{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.fullscreen2 main{
  flex-grow: 1;
}

.selleraccordion{
  background-color: rgb(233, 236, 229);
  min-height: 90vh;
}

.gradientnav .navbar{
  background: linear-gradient(to right, #c1e7cd, #aabb94);
}

.custom-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.custom-item .m-3 {
  transition: transform 0.2s;
}
.custom-item .m-3:hover {
  transform: scale(1.1);
}
.homebanner {
  width: 100%;
}

.custom-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  padding: 10px;
  margin: 10px 15px;
  font-size: 4em;
}

.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 10px;
  height: 10px;
}
.image-container {
  height: 250px;
  width: 100%;
  overflow: hidden;
}
.banner {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.carouselslide {
  height: 450px;
  width: 300px;
}
.carouselslide img {
  height: 100%;
  width: 100%;
  /* background-size: cover; */
  background-position: center;
}
.footer1 a {
  color: black;
}
.footer1 a:hover {
  color: rgb(55, 8, 244);
  cursor: pointer;
}
.paymentcards {
  width: 50px;
  height: 30px;
}
.bannerHead {
  color: white;
  text-shadow: 2px 3px 2px black;
}

/* .mainnav{
  position: sticky;
  top: 0;
} */
.productcard {
  width: 320px;
  height: 500px;
  margin-bottom: 20px;
  box-shadow: 1px 2px 2px 2px rgb(217, 216, 216);
}
.productcard .card-img-top {
  width: 100%;
  height: 350px;
}
.productcard .card-body {
  height: 120px;
}

.customermenu .list-group a {
  color: black;
}
.customermenu .list-group a.active {
  background-color: black;
  color: white;
}
.customermenu .list-group a:hover {
  background-color: rgb(139, 136, 136);
  color: white;
}

.menumain .accordion {
  --bs-accordion-btn-bg: rgb(233, 236, 229);
  --bs-accordion-btn-color: #100f10;
  --bs-accordion-active-bg: rgb(246, 250, 241);
  --bs-accordion-active-color: #100f10;
  --bs-accordion-btn-focus-box-shadow: none;
}

/* .footerlinks:hover{
  cursor: pointer;
} */

.womenallimgs {
  width: 130px;
  height: 130px;
}
.scroll-container {
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}
.scroll-container img {
  padding: 4px;
}
.productdetailsimg {
  width: 550px;
  height: 570px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (max-width: 768px) and (orientation: portrait) {
  .homebanner {
    height: 120px;
  }
  .womenallimgs {
    width: 80px;
    height: 80px;
  }
  .scroll-container {
    display: flex;
    justify-content: flex-start;
  }
  .productdetailsimg {
    width: 350px;
    height: 400px;
  }
  .selleraccordion{
    min-height: 22vh;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .productcard {
    width: 230px;
    height: 320px;
  }
  .productcard .card-img-top {
    width: 100%;
    height: 280px;
  }
  .productcard .card-body {
    height: 130px;
  }
  .womenallimgs {
    width: 80px;
    height: 80px;
  }
  .productdetailsimg {
    width: 600px;
    height: 400px;
  }
}

@media all and (min-width: 992px) and (max-width: 1280px) and (orientation: portrait) {
  .productcard {
    width: 230px;
    height: 350px;
  }
  .productcard .card-img-top {
    width: 100%;
    height: 290px;
  }
  .productdetailsimg {
    width: 350px;
    height: 450px;
  }
}
@media all and (min-width: 992px) and (max-width: 1280px) and (orientation: landscape) {
  .productcard {
    width: 230px;
    height: 350px;
  }
  .productcard .card-img-top {
    width: 100%;
    height: 290px;
  }
  .productdetailsimg {
    width: 450px;
    height: 500px;
  }
}
